* {
	margin: 0;
	padding: 0;
	font-family: 'Scout';
}

a {
	text-decoration: none;
	cursor: pointer;
}

li {
	list-style: none;
}

body {
	background-color: white;
	margin:0 auto;
	max-width:1500px;
}

@font-face {
	font-family: 'Scout';
	src: url('./../fonts/Scout-Regular.otf') format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: 'Scout';
	src: url('./../fonts/Scout-Light.otf') format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'Scout';
	src: url('./../fonts/Scout-Bold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: 'Scout';
	src: url('./../fonts/Scout-ExtraLight.otf') format('opentype');
	font-weight: 200;
}

@font-face {
	font-family: 'Scout';
	src: url('./../fonts/Scout-Thin.otf') format('opentype');
	font-weight: 100;
}

@font-face {
	font-family: 'ScoutCond';
	src: url('./../fonts/ScoutCond-Regular.otf') format('opentype');
	font-weight: normal;
}

.full-width-content {
	max-width: 1500px;
	margin: 0 auto;
}

.container {
	max-width: 1200px;
	margin:0 auto;
}

.border-box{
	box-sizing: border-box;
}

.right-align {
	float: right;
}

.pad5 {
	padding: 5px;
}
.pad15 {
	padding: 15px;
}
.margin5 {
	margin: 5px;
}

.pad-top3 {
	padding-top: 3px;
}

.marginzero{
	margin:0;
}

.margin-left15 {
	margin-left: 15px;
}

.margin-left20 {
	margin-left: 20px;
}

.margin-top15 {
	margin-top: 15px;
}

.margin-top40 {
	margin-top: 40px;
}

.margin-top70 {
	margin-top: 70px;
}

.margin-bottom30 {
	margin-bottom: 30px;
}

.top-nav {
	background-color: #262626;
	height: 30px;
	padding-left: 10vw;
	padding-right: 10vw;
}

.menuicon {
	display: none;
	width: 20px;
	float: left;
	cursor: pointer;
	position: absolute;
	top:20px;
	left:12px;
}

.responsive-menu {
	display: none;
	background-color: #262626;
}

.opened {
	display: block;
}

.responsive-menu a {
	color: white;
}

.responsive-menu li:hover {
	background-color: white;
}

.responsive-menu li:hover>a {
	color: #262626;
}

.white-text {
	color: white;
}

.black-text {
	color: #262626;
}

.scout-cond {
	font-family: "ScoutCond";
	letter-spacing: 1px;
}

.fs-xxs {
	font-size: 9pt;
}

.fs-xs {
	font-size: 10pt;
}

.fs-s {
	font-size: 12pt;
}

.fs-sm {
	font-size: 16pt;
}

.fs-m {
	font-size: 18pt;
}

.fs-mb {
	font-size: 20pt;
}

.fs-b {
	font-size: 24pt;
}

.fs-xb {
	font-size: 40pt;
}

.text-center {
	text-align: center;
}

.logo {
	font-family: "Scout";
	font-weight: bold;
	display:block;
	width:25%;
}

.flex {
	display: flex;
	justify-content: center;
}
.navbar{
	margin:0 auto;
	width:100%;
}
.navbar ul{
	
	position:relative;
	left:5%;
}
.navbar li {
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.navbar li a {
	font-family: "ScoutCond";
	color: #262626;
}

.navbar li:hover {
	background-color: #262626;
}

.navbar li:hover a {
	color: white;
	padding:1px 5px;
}

.message-bar {
	background-color: #334b67;
	width:100%;
	padding-top:7px;
	padding-bottom:7px;
	font-size: 13pt;
}

.message-bar span {
	font-weight: bold;
}

.message-content {
	justify-content: center;
}

.pink-bar {
	background-color: #eac3d8;
	height: 5px;
}

.slider img {
	max-width: 1500px;
	width: 100%;
}

#slider {
	opacity: 1;
	transition: opacity 0.5s;
}

#slider.fadeOut {
	opacity: 0;
}

.product-thumbnails {
	width:100%;
	align-items: flex-end;
	justify-content: space-between;
}

figure {
	margin: 0;
}

figcaption>p:first-child {
	font-weight: 600;
}

figcaption>p:last-child {
	color: #595959;
	font-weight: 600;
}

.products-aside {
	flex-direction: column;
	vertical-align: middle;
}

.products-aside a {
	margin: -2px -2px -2px -3px;
}

hr {
	border-width: 1px;
	border-color: #262626;
}

.social-media {
	background-color: #262626;
	height: 80px;
}

.social-media a {
	margin: 20px;
}

.services {
	justify-content: center;
}

.services div {
	margin: 40px;
}

.services li {
	padding-top: 10px;
	font-weight: normal;
}

.services a {
	color: #262626;
}